.App {
  text-align: center;
  border: 1px solid #000;
  padding: 20px;
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;

  h1 {
    border: 1px solid pink;
  }

  .task-list {
    padding: 15px;
    border: 1px solid blueviolet;
  }
}