.App {
  text-align: center;
  border: 1px solid #000;
  padding: 20px;
  width: auto;
  margin: 0 auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;

  .todo-wrapper, .done-wrapper {
    padding: 15px;
    background-color: palevioletred;
    background-color: rgba(219, 112, 147, 0.65);
    display: grid;

    h1 {
      color: #e82666;
    }

    ul.todo-list, ul.done-list {
      list-style-type: none;
      padding: 0;

      li {
        background-color: whitesmoke;
        padding: 5px 5px 5px 10px;
        margin-bottom: 2px;
        text-align: left;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;

        button {
          border: none;
        }
      }
    }

    .add-task-input {
      border-radius: 4px;
      padding: 5px 5px 5px 10px;
      outline: none;
      background-color: rgba(219, 112, 147, 0.70);
      border: palevioletred;
      color: #e82666;
      height: 21px;

      &::placeholder {
        color: #e82666;
      }
    }
  }

  .done-wrapper {
    padding: 15px;
    background-color: paleturquoise;

    h1 {
      color: #017d7d;
    }
    
    ul.done-list {
      li {
        text-decoration: line-through;
      }
    }
  }
}